<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs')%>
    <div class="container">
      <main class="main">
        <div class="categories">
          <h3>Жанры</h3>
          <% genres.forEach((genre)=>{ %>
          <a href="?genre=<%= genre.key %>"><%=genre.name%></a>
          <%}) %>
        </div>
        <div class="main-content">
          <h3>Фильмы и сериалы</h3>
          <% films.forEach(film => { %>
          <div class="main-card">
            <div class="card-left">
              <div class="film-img">
                <img src="<%= film.image %>" alt="" />
              </div>
              <div class="film-info">
                <a href="/detail/<%=film.id%>"><%= film.titleRus %></a>
                <a href="/detail/<%=film.id%>"
                  ><%= film.titleEng %>, <%= film.year %>, <%= film.time %> мин.
                </a>
                <a href="/detail/<%=film.id%>"
                  ><%= film.country.name %>, <%= film.genre.name %></a
                >

                <button class="film-btn">
                  <img src="/images/icons/play.svg" alt="" /> Смотреть
                </button>
              </div>
            </div>
            <div class="card-right">
              <div class="film-rate">
                <p>7.6</p>
              </div>
              <% if (user.toWatch && user.toWatch.includes(film.id)) { %>
              <button
                class="film-btn"
                onclick="deleteFromToWatch('<%=film.id%>')"
              >
                <img src="/images/icons/saved.svg" alt="" />
                Сохранено
              </button>
              <% } else {%>
              <button class="film-btn" onclick="saveToWatch('<%=film.id%>')">
                <img src="/images/icons/save.svg" alt="" />
                Буду смотреть
              </button>
              <% } %>
            </div>
          </div>
          <% }) %>
          <div class="pages">
            <% let localsString = '';
              if (locals.genre) {
                localsString =`genre=${locals.genre}&`}
                if(locals.search) {
                  localsString = `search=${locals.search}&`
                }
                %>
              <% for(let i=0; i<pages;i++) {%>
                <a href="?<%=localsString%>page=<%= i %>"><%= i+1 %></a>
              <%}%>


          </div>
        </div>
      </main>
    </div>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
